<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clickatell.bullseye"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.clickatell.bullseye.MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.clickatell.bullseye.RegisterScreen"
            android:stateNotNeeded="true"
            android:label="@string/action_register"
            android:parentActivityName=".RegisterScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RegisterScreen" />
        </activity>
        <activity
            android:name="com.clickatell.bullseye.LoginScreen"
            android:stateNotNeeded="true"
            android:label="@string/action_login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginScreen" />
        </activity>
        <activity
            android:name="com.clickatell.bullseye.ForgotScreen"
            android:stateNotNeeded="true"
            android:label="@string/action_login"
            android:parentActivityName=".ForgotScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ForgotScreen" />
        </activity>
    </application>

</manifest>
